<div class="row">
  <div class="col-4" style="float: none; display: block; margin-left: auto; margin-right: auto; margin-top: 10%">
    <form class="form-signin">
      <label for="inputUsername" class="sr-only">Username</label>
      <input type="email" id="inputUsername" class="form-control bg-transparent" placeholder="Username" [formControl]="username">
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control transparent" placeholder="Password" [formControl]="password"><p *ngIf="!flag">wrong username or password</p>
      <label style="font-size: 13px">
        如果没有账号，可以先注册
      </label>
      <div class="row">
        <div class="col-6">
          <button class="btn btn-outline-dark btn-block" type="submit" (click)="onSubmit()">Sign in</button>
        </div>
        <div class="col-6">
          <button class="btn btn-outline-dark btn-block" [routerLink]="'/register'">Register</button>
        </div>
      </div>
    </form>
  </div>
</div>


