<div class="row">
  <div class="col-4" style="float: none; display: block; margin-left: auto; margin-right: auto; margin-top: 10%">
    <form class="form-signin">
      <label for="inputUsername" class="sr-only">Username</label>
      <input type="email" id="inputUsername" class="form-control transparent" placeholder="Username" [formControl]="username">
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control transparent" placeholder="Password" [formControl]="password">
      <label for="inputPassword" class="sr-only">confirm</label>
      <input type="password" id="inputConfirm" class="form-control transparent" placeholder="Confirm" [formControl]="confirm">
      <p *ngIf="!flag">username exist</p>
      <p *ngIf="!same">wrong password or confirm</p>
      <label style="font-size: 13px">Welcome To Blog!</label>
      <button class="btn btn-outline-dark btn-block" (click)="onRegister()">Register</button>
    </form>
  </div>
</div>
